/*1369758179,173209415*/

._58mf ._58mg{border-color:#bdc7d8;border-radius:5px;margin:0;width:377px}
._58mf .uiStickyPlaceholderInput{background:white;border-radius:5px;width:399px}
._58mf .uiStickyPlaceholderInput .placeholder{box-sizing:border-box;overflow:hidden;padding-left:11px;text-overflow:ellipsis;white-space:nowrap}
._58mf ._58mg, ._58mf .uiStickyPlaceholderInput .placeholder{font-size:18px;padding:8px 10px}
._58mh{width:399px}
._58mh ._58mg{width:172px}
._58mh .uiStickyPlaceholderInput{width:194px}

#bootloader_opSjD { height: 42px; }
/*
     FILE ARCHIVED ON 16:23:42 Jun 01, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:32:28 May 23, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.458
  exclusion.robots: 0.046
  exclusion.robots.policy: 0.038
  esindex: 0.008
  cdx.remote: 9.022
  LoadShardBlock: 136.004 (3)
  PetaboxLoader3.resolve: 403.554 (5)
  PetaboxLoader3.datanode: 101.101 (5)
  load_resource: 620.885 (2)
*/