/*1369716932,173217867*/

._58mu{width:399px}
._58mu ._58mv{color:#777;font-size:11px;width:316px}

#bootloader_8YOu4 { height: 42px; }
/*
     FILE ARCHIVED ON 16:23:45 Jun 01, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:32:34 May 23, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.458
  exclusion.robots: 0.044
  exclusion.robots.policy: 0.035
  esindex: 0.007
  cdx.remote: 24.792
  LoadShardBlock: 146.141 (3)
  PetaboxLoader3.resolve: 216.977 (5)
  PetaboxLoader3.datanode: 139.98 (5)
  load_resource: 232.159 (2)
*/