/*1369716932,178171235*/

._58mq select{font-size:13px;height:30px;padding:5px}
._58mr{color:#333;font-size:18px;font-weight:normal}
._58ms{font-size:11px;width:150px}

#bootloader_Z8pch { height: 42px; }
/*
     FILE ARCHIVED ON 16:23:44 Jun 01, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:32:32 May 23, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.679
  exclusion.robots: 0.076
  exclusion.robots.policy: 0.064
  esindex: 0.011
  cdx.remote: 40.198
  LoadShardBlock: 87.043 (3)
  PetaboxLoader3.datanode: 109.919 (5)
  load_resource: 222.18 (2)
  PetaboxLoader3.resolve: 145.46 (2)
*/