/*1367277840,173213725*/

.UIContentTopper{padding:14px 0 0 17px;margin:50px auto 15px auto;border-top:2px solid #d3dae6}
.UIContentTopperSlim{padding:0 0 0 17px;margin:0 auto 15px auto}
.UIContentTopper_footer{width:578px;margin:5px auto 0 auto;font-size:9px}
.UIContentTopper_text_container{margin-top:6px;width:465px;float:left}
.UIContentTopper_text_headline{font-size:15px;font-weight:bold}
.UIContentTopper_text{font-size:11px;margin-top:4px}
.UIContentTopper_large .UIContentTopper_text{width:400px}
.UIContentTopper_text_bold{font-weight:bold}
.UIContentTopper_thumbnail{float:left;margin:0 15px 0 0}
.UIContentTopper .verticalAlign{margin-top:8px}
.UIWindowShade_Footer{margin:5px auto 0 auto;font-size:9px}
.UIWindowShade{border-top:1px solid #d0d0d0;background-color:#ededed}
.UIWindowShadeSpacer{margin:0 auto 60px auto}
._52ln{background:#edeff4;height:100%}
._52lo{margin:0 auto 30px auto;width:400px}
._52lp ._52lq{color:#141823;font-family:'Freight Sans Bold', 'lucida grande',tahoma,verdana,arial,sans-serif;font-size:40px;font-weight:normal;white-space:nowrap}
._52lp ._52lr{color:#4e5665;font-family:'Freight Sans', 'lucida grande',tahoma,verdana,arial,sans-serif;font-size:22px;font-weight:normal;line-height:28px}

#bootloader_5Wv7H { height: 42px; }
/*
     FILE ARCHIVED ON 16:32:28 Jun 01, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:32:52 May 23, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.492
  exclusion.robots: 0.053
  exclusion.robots.policy: 0.044
  esindex: 0.007
  cdx.remote: 17.067
  LoadShardBlock: 211.896 (3)
  PetaboxLoader3.datanode: 83.199 (5)
  PetaboxLoader3.resolve: 242.462 (4)
  load_resource: 204.852 (2)
*/